@model ExamStation.Models.Subject

@{
    ViewData["Title"] = "Create";
}

<h2>Add Subject</h2>
<hr />
<form asp-action="Create">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-group row">
        <label asp-for="ClassName" class="control-label col-sm-2"></label>
        <div class="col-sm-6">
            @*<input asp-for="ClassName" class="form-control" />*@
            @Html.DropDownListFor(model => model.ClassName, new SelectList(ViewBag.ClassList, "Id", "ClassName"), "Select Class", new { @class = "form-control" })
            <span asp-validation-for="ClassName" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group row">
        <label asp-for="TeacherName" class="control-label col-sm-2"></label>
        <div class="col-sm-6">
            @*<input asp-for="TeacherName" class="form-control" />*@
            @Html.DropDownListFor(model => model.TeacherName, new SelectList(ViewBag.ClassList, "Id", "TeacherName"), "Select Section", new { @class = "form-control" })
            <span asp-validation-for="TeacherName" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group row">
        <label asp-for="Type" class="control-label col-sm-2"></label>
        <div class="col-sm-6">
            @*<input asp-for="Type" class="form-control" />*@
            <select name="Type" id="Type" class="form-control">
                <option value="SelectSubjectType">Select Subject Type</option>
                <option value="Optional">Optional</option>
                <option value="Mandatory">Mandatory</option>
            </select>
            <span asp-validation-for="Type" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group row">
        <label asp-for="PassMark" class="control-label col-sm-2"></label>
        <div class="col-sm-6">
            <input asp-for="PassMark" class="form-control" />
            <span asp-validation-for="PassMark" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group row">
        <label asp-for="FinalMark" class="control-label col-sm-2"></label>
        <div class="col-sm-6">
            <input asp-for="FinalMark" class="form-control" />
            <span asp-validation-for="FinalMark" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group row">
        <label asp-for="SubjectName" class="control-label col-sm-2"></label>
        <div class="col-sm-6">
            <input asp-for="SubjectName" class="form-control" />
            <span asp-validation-for="SubjectName" class="text-danger"></span>
        </div>
    </div><div class="form-group row">
        <label asp-for="SubjectAuthor" class="control-label col-sm-2"></label>
        <div class="col-sm-6">
            <input asp-for="SubjectAuthor" class="form-control" />
            <span asp-validation-for="SubjectAuthor" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group row">
        <label asp-for="SubjectCode" class="control-label col-sm-2"></label>
        <div class="col-sm-6">
            <input asp-for="SubjectCode" class="form-control" />
            <span asp-validation-for="SubjectCode" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <input type="submit" value="Add Subject" class="btn btn-default" />
    </div>
</form>