/* here you can put your own css to customize and override the theme */

/***
Rounded Portlets
***/
/*
.portlet {
	border-radius: 4px !important;
}

.portlet .portlet-title {
	border-radius: 4px 4px 0px 0px !important;
}

.portlet .portlet-body,
.portlet .portlet-body .form-actions  {
	border-radius: 0px 0px 4px 4px !important;
}
*/

/*
Change Quick Sidebar Width
*/

/*
.page-quick-sidebar-wrapper {
  right: -370px;
  width: 370px;
}

.page-quick-sidebar-open.page-quick-sidebar-push-content .page-sidebar-wrapper {
  margin-left: -370px;
}

.page-quick-sidebar-open.page-quick-sidebar-push-content .page-footer {
  margin-right: 370px;
  margin-left: -370px;
}

.page-sidebar-reversed.page-quick-sidebar-open.page-quick-sidebar-push-content .page-sidebar-wrapper {
  margin-right: 370px;
}

.page-quick-sidebar-open.page-quick-sidebar-push-content.page-quick-sidebar-full-height .page-header {
  margin-left: -370px;
}

.page-quick-sidebar-wrapper .page-quick-sidebar .page-quick-sidebar-list {
  width: 370px !important;
}

.page-quick-sidebar-wrapper .page-quick-sidebar .page-quick-sidebar-item {
  width: 370px !important;
  margin-left: 370px;
}

.page-quick-sidebar-wrapper .page-quick-sidebar .page-quick-sidebar-content-item-shown .page-quick-sidebar-list {
  margin-left: -370px;
}
*/
.ck-editor__editable_inline {
	min-height: 200px;
}

#page-content {
	position: relative;
	min-height: 336px;
}

.mrg {
	margin-top: 25px;
	margin-bottom: 10px;
}
.mrg-1 {
	margin-top: 5px;
}

.fixed-content {
	overflow-y: scroll;
	overflow-x: scroll;
}

.biz-boxed {
	border: 1px solid #d8e2e7;
	padding: 10px;
	margin-top: 5px;
}

.pl {
	padding-left: 3px;
}


/* Biograph Start */
.profile-view-head {
	background-image: url('../../../../uploads/default/pf.jpg');
	color: #fff;
	text-align: center;
	padding: 10px;
	border-radius: 4px 4px 0 0;
	-webkit-border-radius: 4px 4px 0 0;
	font-size: 16px;
	font-weight: 300;
}

	.profile-view-head a {
		border-radius: 50%;
		-webkit-border-radius: 50%;
		border: 10px solid rgba(256,256,256,0.3);
		display: inline-block;
	}

		.profile-view-head a img {
			width: 112px;
			height: 112px;
			border-radius: 50%;
			-webkit-border-radius: 50%;
		}

	.profile-view-head h1 {
		font-size: 22px;
		font-weight: 300;
		margin-bottom: 5px;
	}

	.profile-view-head p {
		font-size: 14px;
	}

.profile-view-dis {
	color: #89817e;
}

	.profile-view-dis h1 {
		font-size: 22px;
		font-weight: 300;
		margin: 0 0 20px;
	}

.profile-view-tab {
	width: 50%;
	float: left;
	margin-bottom: 10px;
	padding: 0 15px;
	font-size: 14px;
}

	.profile-view-tab p span {
		display: inline-block;
		width: 40%;
	}

.profile-user-img {
	margin: 0 auto;
	width: 100px;
	height: 100px;
	padding: 3px;
	border: 3px solid #d2d6de;
}
a {
	color: #707478;
}

.box {
	position: relative;
	background: #ffffff;
	margin-bottom: 20px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	width: 100%;
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
}

	.box .box-body {
		padding: 15px;
		-webkit-border-top-left-radius: 0;
		-webkit-border-top-right-radius: 0;
		-webkit-border-bottom-right-radius: 3px;
		-webkit-border-bottom-left-radius: 3px;
		-moz-border-radius-topleft: 0;
		-moz-border-radius-topright: 0;
		-moz-border-radius-bottomright: 3px;
		-moz-border-radius-bottomleft: 3px;
		border-top-left-radius: 0;
		border-top-right-radius: 0;
		border-bottom-right-radius: 3px;
		border-bottom-left-radius: 3px;
	}
/* Biograph Close */

/* NAV TABS */
.nav-tabs-custom {
	margin-bottom: 20px;
	background: #fff;
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
}

	.nav-tabs-custom > .nav-tabs {
		background-color: #e5e5e5;
		margin: 0;
		border-bottom-color: #e5e5e5;
	}

		.nav-tabs-custom > .nav-tabs > li {
			border-bottom: 2px solid transparent;
			margin-bottom: -2px;
			margin-right: 5px;
		}

			.nav-tabs-custom > .nav-tabs > li > a {
				-webkit-border-radius: 0 !important;
				-moz-border-radius: 0 !important;
				border-radius: 0 !important;
			}

				.nav-tabs-custom > .nav-tabs > li > a,
				.nav-tabs-custom > .nav-tabs > li > a:hover {
					background: transparent;
					margin: 0;
				}

			.nav-tabs-custom > .nav-tabs > li:not(.active) > a:hover,
			.nav-tabs-custom > .nav-tabs > li:not(.active) > a:focus,
			.nav-tabs-custom > .nav-tabs > li:not(.active) > a:active {
				border-color: transparent;
			}

			.nav-tabs-custom > .nav-tabs > li.active {
				border-bottom-color: #09A3A3;
			}

				.nav-tabs-custom > .nav-tabs > li.active > a,
				.nav-tabs-custom > .nav-tabs > li.active:hover > a {
					background-color: #e5e5e5;
					border: 0px;
					color: #000000db;
				}

				.nav-tabs-custom > .nav-tabs > li.active > a {
					border-top: 0;
					border-left-color: #09A3A3;
					border-right-color: #09A3A3;
				}

			.nav-tabs-custom > .nav-tabs > li:first-of-type {
				margin-left: 0px;
			}

				.nav-tabs-custom > .nav-tabs > li:first-of-type.active > a {
					border-left-width: 0;
				}

		.nav-tabs-custom > .nav-tabs.pull-right {
			float: none !important;
		}

			.nav-tabs-custom > .nav-tabs.pull-right > li {
				float: right;
			}

				.nav-tabs-custom > .nav-tabs.pull-right > li:first-of-type {
					margin-right: 0px;
				}

					.nav-tabs-custom > .nav-tabs.pull-right > li:first-of-type.active > a {
						border-left-width: 1px;
						border-right-width: 0px;
					}

		.nav-tabs-custom > .nav-tabs > li.header {
			font-weight: 400;
			line-height: 35px;
			padding: 0 10px;
			font-size: 20px;
			color: #444;
			cursor: default;
		}

			.nav-tabs-custom > .nav-tabs > li.header > .fa,
			.nav-tabs-custom > .nav-tabs > li.header > .glyphicon,
			.nav-tabs-custom > .nav-tabs > li.header > .ion {
				margin-right: 10px;
			}

	.nav-tabs-custom > .tab-content {
		background: #fff;
		padding: 10px;
	}

.image-preview-input input[type="file"] {
	position: absolute;
	top: 0;
	right: 0;
	margin: 0;
	padding: 0;
	font-size: 20px;
	cursor: pointer;
	opacity: 0;
	filter: alpha(opacity=0);
	overflow: hidden;
}
.image-preview-input-title {
	margin-left: 2px;
	overflow: hidden;
}
