@model ExamStation.Models.TakeExamMapper

@{
    ViewData["Title"] = "Create";
}

<h4>Take Exam Map</h4>
<hr />

<div asp-validation-summary="ModelOnly" class="text-danger"></div>
<div class="form-group row">
    <label asp-for="ExamId" class="control-label col-sm-2">Exam</label>
    <div class="col-sm-6">
        @*<input asp-for="ExamId" class="form-control" />*@
        @Html.DropDownListFor(model => model.ExamId, new SelectList(ViewBag.ExamTitleList, "Id", "ExamTitle"), "Select Exam", new { @class = "form-control" })
        <span asp-validation-for="ExamId" class="text-danger required"></span>
    </div>
</div>
<div class="form-group row">
    <label asp-for="QuestionBankId" class="control-label col-sm-2">Question Group</label>
    <div class="col-sm-6">
        @*<input asp-for="QuestionGroupId" class="form-control" />*@
        @Html.DropDownListFor(model => model.QuestionBankId, new SelectList(ViewBag.ExamGroupList, "Id", "Title"), "Select Group", new { @class = "form-control" })
        <span asp-validation-for="QuestionBankId" class="text-danger required"></span>
    </div>
</div>
<span class="input-group-btn" style="padding-top:10px;">
    <button type="submit" class="btn btn-info" id="btnShowQuestions">Show Questions</button>
</span>
    <div class="table-responsive" style="padding-top:10px;">
        <table id="tblQuestionMap" class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th><input type="checkbox" id="checkAll" ></th>
                    <th>Question</th>
                    <th style="display: none;">ID</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
    <div class="form-group">
        <input type="submit" value="Save" id="btnSave" class="btn btn-success" />
    </div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script type="text/javascript">
    $(document).ready(function () {

        //Show Questions
        $("#btnShowQuestions").click(function () {
            var questionGroup = $("#QuestionBankId").val();
            //alert(questionGroup);
            $.ajax({
                url: "@Url.Action("GetQuestionBankList", "TakeExamMappers")",
                type: "GET",
                data: { 'questionGroupId': questionGroup },
                dataType: "json",
                success: function (result) {
                    //console.log(result);
                    var tableBody;
                    $("#tblQuestionMap").find("tbody").empty();
                    for (var i = 0; i < result.length; i++) {
                        tableBody += "<tr class='row-select'><td><input type='checkbox' ></td><td class='name'>" + result[i].question + "</td><td class='id' style='display: none;'>" + result[i].id+"</td></tr>"
                    }
                    $("#tblQuestionMap > tbody").append(tableBody);
                    }
            });
        });

        //Ceckbox
        $("#checkAll").change(function () {
            $("input:checkbox").prop('checked', $(this).prop("checked"));
        });

        //BtnSave
        $("#btnSave").click(function () {
            var examId = $("#ExamId").val();
            var questionBankId;
            var id;
            var i = 0;
            $('.row-select input:checked').each(function () {

                id = $(this).closest('tr').find('.id').html();

                if (i == 0) {
                    questionBankId = id;
                }
                else {
                    questionBankId = questionBankId + ',' + id;
                }
                i++;
            });

            $.ajax({
                url: "@Url.Action("SaveExamQuestionMapper", "TakeExamMappers")",
                type:"POST",
                data: { 'examId': examId, 'questionBankIds': questionBankId },
                success: function (message)
                {
                    alert(message);
                }
            });

        });       


        //$('#btnSelectAll').click(function () {

        //    $('.row-select input').each(function () {
        //        $(this).prop('checked', true);
        //    })

        //})
    });
    </script>

}
