@model ExamStation.Models.Parent

@{
    ViewData["Title"] = "Create";
}

<h2>Add Parent</h2>
<hr />
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group row">
                <label asp-for="GuardianName" class="control-label col-sm-2"></label>
                <div class="col-sm-6">
                    <input asp-for="GuardianName" class="form-control" />
                    <span asp-validation-for="GuardianName" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <label asp-for="FatherName" class="control-label col-sm-2"></label>
                <div class="col-sm-6">
                    <input asp-for="FatherName" class="form-control" />
                    <span asp-validation-for="FatherName" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <label asp-for="MotherName" class="control-label col-sm-2"></label>
                <div class="col-sm-6">
                    <input asp-for="MotherName" class="form-control" />
                    <span asp-validation-for="MotherName" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <label asp-for="FatherProfession" class="control-label col-sm-2"></label>
                <div class="col-sm-6">
                    <input asp-for="FatherProfession" class="form-control" />
                    <span asp-validation-for="FatherProfession" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <label asp-for="MotherProfession" class="control-label col-sm-2"></label>
                <div class="col-sm-6">
                    <input asp-for="MotherProfession" class="form-control" />
                    <span asp-validation-for="MotherProfession" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <label asp-for="Email" class="control-label col-sm-2"></label>
                <div class="col-sm-6">
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <label asp-for="Phone" class="control-label col-sm-2"></label>
                <div class="col-sm-6">
                    <input asp-for="Phone" class="form-control" />
                    <span asp-validation-for="Phone" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <label asp-for="Address" class="control-label col-sm-2"></label>
                <div class="col-sm-6">
                    <input asp-for="Address" class="form-control" />
                    <span asp-validation-for="Address" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <label asp-for="Photo" class="control-label col-sm-2"></label>
                <div class="col-sm-6">
                    <div class="custom-file">
                        <input asp-for="Photo" class="form-control custom-file-input" />
                    </div>
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Add Parent" class="btn btn-default" />
            </div>
        </form>

