@model ExamStation.Models.OnlineExam

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>OnlineExam</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="ExamTitle" class="control-label"></label>
                <input asp-for="ExamTitle" class="form-control" />
                <span asp-validation-for="ExamTitle" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Class" class="control-label"></label>
                <input asp-for="Class" class="form-control" />
                <span asp-validation-for="Class" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Section" class="control-label"></label>
                <input asp-for="Section" class="form-control" />
                <span asp-validation-for="Section" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StudentGroup" class="control-label"></label>
                <input asp-for="StudentGroup" class="form-control" />
                <span asp-validation-for="StudentGroup" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Subject" class="control-label"></label>
                <input asp-for="Subject" class="form-control" />
                <span asp-validation-for="Subject" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Instruction" class="control-label"></label>
                <input asp-for="Instruction" class="form-control" />
                <span asp-validation-for="Instruction" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ExamStatus" class="control-label"></label>
                <input asp-for="ExamStatus" class="form-control" />
                <span asp-validation-for="ExamStatus" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ExamType" class="control-label"></label>
                <input asp-for="ExamType" class="form-control" />
                <span asp-validation-for="ExamType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Duration" class="control-label"></label>
                <input asp-for="Duration" class="form-control" />
                <span asp-validation-for="Duration" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MarkType" class="control-label"></label>
                <input asp-for="MarkType" class="form-control" />
                <span asp-validation-for="MarkType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PassValue" class="control-label"></label>
                <input asp-for="PassValue" class="form-control" />
                <span asp-validation-for="PassValue" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PaymentStatus" class="control-label"></label>
                <input asp-for="PaymentStatus" class="form-control" />
                <span asp-validation-for="PaymentStatus" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Published" class="control-label"></label>
                <input asp-for="Published" class="form-control" />
                <span asp-validation-for="Published" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

