<!DOCTYPE html>
<html lang="en" class="no-js">
<!-- BEGIN HEAD -->
<head>
    <meta charset="utf-8" />
    <title>ExamStation | Admin Dashboard Template</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <meta content="" name="description" />
    <meta content="" name="author" />
    <!-- BEGIN GLOBAL MANDATORY STYLES -->    
    <link href="~/ExamStation/assets/global/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <link href="~/ExamStation/assets/global/plugins/simple-line-icons/simple-line-icons.min.css" rel="stylesheet" type="text/css" />
    <link href="~/ExamStation/assets/global/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <!-- END GLOBAL MANDATORY STYLES -->
    <!-- BEGIN PAGE STYLES -->
    <link href="~/ExamStation/assets/admin/pages/css/tasks.css" rel="stylesheet" type="text/css" />
    <!-- END PAGE STYLES -->
    <!-- BEGIN THEME STYLES -->
    <!-- DOC: To use 'rounded corners' style just load 'components-rounded.css' stylesheet instead of 'components.css' in the below style tag -->
    <link href="~/ExamStation/assets/global/css/components.css" id="style_components" rel="stylesheet" type="text/css" />
    <link href="~/ExamStation/assets/global/css/plugins.css" rel="stylesheet" type="text/css" />
    <link href="~/ExamStation/assets/admin/layout/css/layout.css" rel="stylesheet" type="text/css" />
    <link href="~/ExamStation/assets/admin/layout/css/themes/darkblue.css" rel="stylesheet" type="text/css" id="style_color" />
    <link href="~/ExamStation/assets/admin/layout/css/custom.css" rel="stylesheet" type="text/css" />
    <!-- END THEME STYLES -->
    <link rel="shortcut icon" href="favicon.ico" />
</head>
<!-- END HEAD -->
<!-- BEGIN BODY -->
<body class="page-header-fixed page-quick-sidebar-over-content page-style-square">
    <!-- BEGIN HEADER -->
    <div class="page-header navbar navbar-fixed-top">
        <!-- BEGIN HEADER INNER -->
        <div class="page-header-inner">
            <!-- BEGIN LOGO -->
            <div class="page-logo">
                <a href="index.html">
                    <img src="~/ExamStation/assets/admin/layout/img/logo.png" alt="logo" class="logo-default" />
                </a>
                <div class="menu-toggler sidebar-toggler hide">
                    <!-- DOC: Remove the above "hide" to enable the sidebar toggler button on header -->
                </div>
            </div>
            <!-- END LOGO -->
            <!-- BEGIN RESPONSIVE MENU TOGGLER -->
            <a href="javascript:;" class="menu-toggler responsive-toggler" data-toggle="collapse" data-target=".navbar-collapse">
            </a>
            <!-- END RESPONSIVE MENU TOGGLER -->
            <!-- BEGIN TOP NAVIGATION MENU -->
            <div class="top-menu">
                <ul class="nav navbar-nav pull-right">
                    <!-- BEGIN NOTIFICATION DROPDOWN -->
                    <li class="dropdown dropdown-user">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                            <img alt="" class="img-circle" src="~/ExamStation/assets/admin/layout/img/avatar3_small.jpg" />
                            <span class="username username-hide-on-mobile">
                                MK Hasan
                            </span>
                            <i class="fa fa-angle-down"></i>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-default">
                            <li>
                                <a href="extra_profile.html">
                                    <i class="icon-user"></i> My Profile
                                </a>
                            </li>
                            <li class="divider">
                            </li>
                            <li class="nav-item">
                                <a asp-controller="Account"
                                   asp-action="ChangePassword">
                                    <i class="icon-lock"></i>Change Password
                                </a>
                            </li>
                            <li class="nav-item">
                                <form id="logoutForm" class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                                    <button id="logout" type="submit" class="nav-link btn btn-link text-dark">Logout</button>
                                </form>
                            </li>
                        </ul>
                    </li>
                    <!-- END USER LOGIN DROPDOWN -->
                </ul>
            </div>
            <!-- END TOP NAVIGATION MENU -->
        </div>
        <!-- END HEADER INNER -->
    </div>
    <!-- END HEADER -->
    <div class="clearfix">
    </div>
    <!-- BEGIN CONTAINER -->
    <div class="page-container">
        <!-- BEGIN SIDEBAR -->
        <div class="page-sidebar-wrapper">
            <div class="page-sidebar navbar-collapse collapse">
                <!-- BEGIN SIDEBAR MENU -->
                <ul class="page-sidebar-menu" data-keep-expanded="false" data-auto-scroll="true" data-slide-speed="200">
                    <!-- DOC: To remove the sidebar toggler from the sidebar you just need to completely remove the below "sidebar-toggler-wrapper" LI element -->
                    <li class="sidebar-toggler-wrapper">
                        <!-- BEGIN SIDEBAR TOGGLER BUTTON -->
                        <div class="sidebar-toggler">
                        </div>
                        <!-- END SIDEBAR TOGGLER BUTTON -->
                    </li>
                    <!-- DOC: To remove the search box from the sidebar you just need to completely remove the below "sidebar-search-wrapper" LI element -->
                    <li class="sidebar-search-wrapper">
                        <!-- BEGIN RESPONSIVE QUICK SEARCH FORM -->
                        <form class="sidebar-search " action="extra_search.html" method="POST">
                            <a href="javascript:;" class="remove">
                                <i class="icon-close"></i>
                            </a>
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="Search...">
                                <span class="input-group-btn">
                                    <a href="javascript:;" class="btn submit"><i class="icon-magnifier"></i></a>
                                </span>
                            </div>
                        </form>
                        <!-- END RESPONSIVE QUICK SEARCH FORM -->
                    </li>
                    <li class="start active open">
                        <a href="javascript:;">
                            <i class="icon-home"></i>
                            <span class="title">Dashboard</span>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:;">
                            <i class="fa fa-sitemap"></i>
                            <span class="title">Student</span>
                            <span class="selected"></span>
                            <span class="arrow open"></span>
                        </a>
                        <ul class="sub-menu">
                            <li>
                                <a href="index_2.html">
                                    <i class="fa fa-sitemap"></i>
                                    Add Student
                                </a>
                            </li>
                            <li>
                                <a href="index_3.html">
                                    <i class="icon-graph"></i>
                                    Student List
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="javascript:;">
                            <i class="fa fa-user-md"></i>
                            <span class="title">Parents</span>
                            <span class="selected"></span>
                            <span class="arrow open"></span>
                        </a>
                        <ul class="sub-menu">
                            <li>
                                <a href="index_2.html">
                                    <i class="fa fa-user-md"></i>
                                    Add Parents
                                </a>
                            </li>
                            <li>
                                <a href="index_3.html">
                                    <i class="icon-graph"></i>
                                    Parents List
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="javascript:;">
                            <i class="fa fa-wheelchair"></i>
                            <span class="title">Teacher</span>
                            <span class="selected"></span>
                            <span class="arrow open"></span>
                        </a>
                        <ul class="sub-menu">
                            <li>
                                <a href="index_2.html">
                                    <i class="fa fa-user-md"></i>
                                    Add Teacher
                                </a>
                            </li>
                            <li>
                                <a href="index_3.html">
                                    <i class="icon-graph"></i>
                                    Teacher List
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="javascript:;">
                            <i class="icon-calendar"></i>
                            <span class="title">Online Exam</span>
                            <span class="selected"></span>
                            <span class="arrow open"></span>
                        </a>
                        <ul class="sub-menu">
                            <li>
                                <a href="index_2.html">
                                    <i class="icon-calendar"></i>
                                    Question Group
                                </a>
                            </li>
                            <li>
                                <a href="index_3.html">
                                    <i class="icon-graph"></i>
                                    Question Level
                                </a>
                            </li>
                            <li>
                                <a href="index_3.html">
                                    <i class="icon-graph"></i>
                                    Question Bank
                                </a>
                            </li>
                            <li>
                                <a href="index_3.html">
                                    <i class="icon-graph"></i>
                                    Online Exam
                                </a>
                            </li>
                            <li>
                                <a href="index_3.html">
                                    <i class="icon-graph"></i>
                                    Instruction
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="javascript:;">
                            <i class="icon-present"></i>
                            <span class="title">Announcement</span>
                            <span class="arrow "></span>
                        </a>
                        <ul class="sub-menu">
                            <li>
                                <a href="page_about.html">
                                    Notice
                                </a>
                            </li>
                            <li>
                                <a href="page_contact.html">
                                    Event
                                </a>
                            </li>
                        </ul>
                    </li>
                    <!-- MULTILEVEL MENU -->
                    <!-- <li>
            <a href="javascript:;">
                <i class="icon-folder"></i>
                <span class="title">Multi Level Menu</span>
                <span class="arrow "></span>
            </a>
            <ul class="sub-menu">
                <li>
                    <a href="javascript:;">
                        <i class="icon-settings"></i> Item 1 <span class="arrow"></span>
                    </a>
                    <ul class="sub-menu">
                        <li>
                            <a href="javascript:;">
                                <i class="icon-user"></i>
                                Sample Link 1 <span class="arrow"></span>
                            </a>
                            <ul class="sub-menu">
                                <li>
                                    <a href="#"><i class="icon-power"></i> Sample Link 1</a>
                                </li>
                                <li>
                                    <a href="#"><i class="icon-paper-plane"></i> Sample Link 1</a>
                                </li>
                                <li>
                                    <a href="#"><i class="icon-star"></i> Sample Link 1</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="#"><i class="icon-camera"></i> Sample Link 1</a>
                        </li>
                        <li>
                            <a href="#"><i class="icon-link"></i> Sample Link 2</a>
                        </li>
                        <li>
                            <a href="#"><i class="icon-pointer"></i> Sample Link 3</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="javascript:;">
                        <i class="icon-globe"></i> Item 2 <span class="arrow"></span>
                    </a>
                    <ul class="sub-menu">
                        <li>
                            <a href="#"><i class="icon-tag"></i> Sample Link 1</a>
                        </li>
                        <li>
                            <a href="#"><i class="icon-pencil"></i> Sample Link 1</a>
                        </li>
                        <li>
                            <a href="#"><i class="icon-graph"></i> Sample Link 1</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#">
                        <i class="icon-bar-chart"></i>
                        Item 3
                    </a>
                </li>
            </ul>
        </li>

    </ul>
    <!-- END SIDEBAR MENU -->
                    <!-- END MULTILEVEL MENU -->
</div>
        </div>
        <!-- END SIDEBAR -->
        <!-- BEGIN CONTENT -->
        <div class="page-content-wrapper">
            <div class="page-content">
                <div class="clearfix">
                </div>
                <div class="col-md-12 col-sm-12">
                    <!-- BEGIN PORTLET-->
                    <div class="portlet solid bordered grey-cararra">
                            <div class="caption">
                                @RenderBody();
                        </div>
                    </div>
                    <!-- END PORTLET-->
                </div>
                <div class="clearfix">
                </div>
            </div>
        </div>
        <!-- END CONTENT -->
    </div>
    <!-- END CONTAINER -->
    <!-- BEGIN FOOTER -->
    <div class="page-footer">
        <div class="page-footer-inner">
            2020 &copy; MK Hasan.
        </div>
        <div class="scroll-to-top">
            <i class="icon-arrow-up"></i>
        </div>
    </div>
    <!-- END FOOTER -->
    <!-- BEGIN JAVASCRIPTS(Load javascripts at bottom, this will reduce page load time) -->
    <!-- BEGIN CORE PLUGINS -->
    <script src="~/ExamStation/assets/global/plugins/jquery.min.js" type="text/javascript"></script>
    <script src="~/ExamStation/assets/global/plugins/jquery.min.js" type="text/javascript"></script>
    <script src="~/ExamStation/assets/global/plugins/jquery.min.js" type="text/javascript"></script>
    <!-- IMPORTANT! Load jquery-ui.min.js before bootstrap.min.js to fix bootstrap tooltip conflict with jquery ui tooltip -->
    <script src="~/ExamStation/assets/global/plugins/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="~/ExamStation/assets/global/plugins/bootstrap-hover-dropdown/bootstrap-hover-dropdown.min.js" type="text/javascript"></script>
    <script src="~/ExamStation/assets/global/plugins/jquery-slimscroll/jquery.slimscroll.min.js" type="text/javascript"></script>
    <!-- END CORE PLUGINS -->
    <!-- BEGIN PAGE LEVEL SCRIPTS -->
    <script src="~/ExamStation/assets/global/scripts/metronic.js" type="text/javascript"></script>
    <script src="~/ExamStation/assets/admin/layout/scripts/layout.js" type="text/javascript"></script>
    <script src="~/ExamStation/assets/admin/layout/scripts/quick-sidebar.js" type="text/javascript"></script>
    <script src="~/ExamStation/assets/admin/layout/scripts/demo.js" type="text/javascript"></script>
    <script src="~/ExamStation/assets/admin/pages/scripts/index.js" type="text/javascript"></script>
    <script src="~/ExamStation/assets/admin/pages/scripts/tasks.js" type="text/javascript"></script>
    <!-- END PAGE LEVEL SCRIPTS -->
    <script>
        jQuery(document).ready(function () {
            Metronic.init(); // init metronic core componets
            Layout.init(); // init layout
            QuickSidebar.init(); // init quick sidebar
            Demo.init(); // init demo features
            Index.init();
            Index.initDashboardDaterange();
            Index.initJQVMAP(); // init index page's custom scripts
            Index.initCalendar(); // init index page's custom scripts
            Index.initCharts(); // init index page's custom scripts
            Index.initChat();
            Index.initMiniCharts();
            Tasks.initDashboardWidget();
        });
    </script>
    <!-- END JAVASCRIPTS -->
    @RenderSection("Scripts", required: false)
</body>
<!-- END BODY -->
</html>