@model ExamStation.Models.QuestionType

@{
    ViewData["Title"] = "Create";
}

<h4>Question Type</h4>
<hr />
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group row">
                <label asp-for="QuestionTypeName" class="control-label col-sm-2"></label>
                <div class="col-sm-6">
                    <input asp-for="QuestionTypeName" class="form-control" />
                    <span asp-validation-for="QuestionTypeName" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Add Question Type" class="btn btn-default" />
            </div>
        </form>

